/*Buttons Sizes*/
.default-btn {
	@extend .family-arbd;
	font-size: $font-size-btn;
	border-radius: 4px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	outline: none;
	white-space: normal;
	border: 1px solid transparent;
	@include box-shadow (0, 2px, 3px, $shadow);
	@include transition();
	.fa {
		margin-right: 5px;
		font-size: $font-size-btn;
		color: $white;
	}
}
.default-btn-sudo {
	outline: none;
	text-decoration: none;
	border: 1px solid transparent;
	@include transition();
}
.small-btn {
	font-size: $font-size-small-btn;
	padding: 10px 15px;
}



/*Button Colors*/
.purple-btn{
	background-color: $theme-purple;
	color: $white;
	border: 1px solid $theme-purple;
}
.purple-btn-sudo {
	background-color: darken($theme-purple, $ratio-darken);
	color: $white;
	border: 1px solid darken($theme-purple, $ratio-darken);
}
.white-btn{
	background-color: $white;
	color: $default-font-color;
	border: 1px solid $border-default;
}
.white-btn-sudo {
	background-color: $border-default;
	color: $white;
	border: 1px solid $border-default; 
}


/*Final Buttons Classess*/
.primary-btn {
	@extend .default-btn;
	@extend .purple-btn;
	&:hover,
	&:focus,
	&:active {
		@extend .default-btn-sudo;
		@extend .purple-btn-sudo;
	}
}
.trasparent-btn {
	@extend .default-btn;
	@extend .white-btn;
	&:hover,
	&:focus,
	&:active {
		@extend .default-btn-sudo;
		@extend .white-btn-sudo;
	}
}

/*Select Buttons*/
.btn-select {
	border-radius: 5px;
	> .btn {
		background-color: transparent;
		&:first-child {
			z-index: 9;
			padding-right: 35px;
		}
		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
		}		
	}
	.btn-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.dropdown-menu {
		right: -1px;
		label {
			text-align: left;
			padding: 7px 15px;
			font-size: $default-font-size;
			color: $default-font-color;
		}
	}
	&.open {
		border-radius: 5px 5px 0 0;
	}
}