@font-face {
  font-family: 'voda-rg';
  src: url('../fonts/VodafoneRg-Regular.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/VodafoneRg-Regular.woff') format('woff'), 
	  url('../fonts/VodafoneRg-Regular.ttf')  format('truetype'), 
	  url('../fonts/VodafoneRg-Regular.svg#VodafoneRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voda-rg-bold';
  src: url('../fonts/VodafoneRg-Bold.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/VodafoneRg-Bold.woff') format('woff'), 
	  url('../fonts/VodafoneRg-Bold.ttf')  format('truetype'), 
	  url('../fonts/VodafoneRg-Bold.svg#VodafoneRg-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'voda-lt';
  src: url('../fonts/VodafoneLt-Regular.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/VodafoneLt-Regular.woff') format('woff'), 
	  url('../fonts/VodafoneLt-Regular.ttf')  format('truetype'), 
	  url('../fonts/VodafoneLt-Regular.svg#VodafoneLt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.family-vd{
	font-family: $family-vd;
	font-weight: normal;
}
.family-vdlt{
	font-family: $family-vdlt;
	font-weight: normal;
}
.family-vdbd{
	font-family: $family-vdbd;
	font-weight: normal;
}
.family-ar{
	font-family: $family-arial;
	font-weight: 400;
}
.family-arbd{
	font-family: $family-arial;
	font-weight: 700;
}