/*Default*/
$default-font-size: 14px;
$default-font-color: #333;
/*Font Family*/

/*Arial*/
$family-arial: Arial,Helvetica Neue,Helvetica,sans-serif;

/*Vodafone*/
$family-vd: 'voda-rg';
$family-vdbd: 'voda-rg-bold';
$family-vdlt: 'voda-lt';
$family-icon: 'FontAwesome';

/*Font Sizes*/
$font-size-h1: 45px;
$font-size-h2: 30px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 12px;

$font-size-lead: $font-size-h4;
$font-size-small: $font-size-h5;
$font-size-btn: $font-size-h3;
$font-size-small-btn: $font-size-h4;
$font-size-icon: $font-size-h4;

/*Colors*/
$white: #fff;
$black: #000;

$theme-red: #e60000;
$theme-purple: #9c2aa0;
$theme-yellow: #fcbe00;
$theme-dark: #2e2e2e;
$theme-green: #428600;
$theme-checkbox: #ebebeb;
$theme-logo: #ff0e1d; /*not used so far*/
$theme-dropdown-icon: #666666;
$theme-hover-bg: #f4f4f4;
$theme-orange: #ff5400;
$theme-transparent-orange: #fef0f0;

/*Borders*/
$border-default: #ccc;

/*Effects*/
$ratio-darken: 7%;
$shadow: rgba(0, 0, 0, 0.3);
$default-box-shadow-x: 0;
$default-box-shadow-y: 2px;
$default-box-shadow-blur: 2px;

/*Icons*/ 
$icon-close: "\f00d";
$icon-search: "\f002";