.table-top-search-wrap {
	margin-bottom: 15px;
	.search-input {
		.form-control {
			width: 300px;
			padding-right: 30px;
		}
		.form-group {
			position: relative;
			&:after {
				content: $icon-search;
				font-family: $family-icon;
				font-size: $font-size-icon;
				color: $theme-dropdown-icon;
				position: absolute;
				right: 10px;
				top: 5px;
			}			
		}
	}
	.search-checkbox {
		margin-top: 5px;
	}
}

/*Section Content*/
.section-content-lg {
	p {
		width: 75%;
		&:last-of-type {
			margin-bottom: 30px;
		}
	}
	.section-cta {
		margin-bottom: 60px;
	}	
}


/*Agent Home Page Table*/
.agent-table {
	thead {
		tr {
			th {
				&.dropdown {
					> a {
						border: 0 none;
						padding: 8px 5px 10px;
						.fa {
							float: none;
						}
					}
				}
				&:nth-child(1) {
					width: 30px;
				}
				&:nth-child(2) {
					width: 45px;
				}
				&:nth-child(3) {
					width: 165px;
				}
				&:nth-child(4){
					width: 75px;
				}
				&:nth-child(5) {
					width: 75px;
				}
				&:nth-child(6) {
					width: 90px;
				}
				&:nth-child(7) {
					width: 95px;
				}
				&:nth-child(8) {
					width: 130px;
				}				
				&:nth-child(10) {
					width: 125px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				&:nth-child(3){
					a {
						text-decoration: underline;
						color: $default-font-color;
					}
				}
			}
		}
	}
}