.site-footer {
	padding-bottom: 60px;
	padding-top: 30px;
	background-color: $theme-dark;
}

.links-widget {
	.widget-title {
		@extend .family-arbd;
		color: $white;
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 10px;
	}
	a {
		@extend .family-ar;
		@extend .meta;
		color: $white;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-decoration: underline;
		}
	}
	.widget-more {
		@extend .family-arbd;
	}
}