.fleft {
	float: left;
}
.fright {
	float: right;
}
.site-header,
.site-main,
.site-footer {
	width: 100%;
	min-width: 1050px;
}
.wrap {
	width: 1050px;
	margin: 0;
	padding-left: 100px;
	padding-right: 20px; 
}
.site-header {
	position: relative;
	.site-logo{
		position: absolute;
		left: 0;
		top: 0;
	}
	.user-nav {
		padding-top: 50px;
	}
}

.site-main {
	> .wrap {
		margin-bottom: 80px;
	}
}

/*Form Control*/
.shadow {
	@include box-shadow(0, 1px, 3px, $shadow, inset);	
}
.shadow-text {
	@include text-shadow(0, 2px, 4px, $shadow);
}
.form-control {
	border-radius: 3px;
	border-color: $border-default;
	@extend .shadow;
	&:hover,
	&:focus,
	&:active {
		@extend .shadow;
		border-color: $border-default;

	}
}

/*Checkbo*/
input[type="checkbox"] {
    display:none;
    + label {
    	@extend .family-ar;
    	span {
		    display: inline-block;
		    width: 25px;
		    height: 30px;
		    margin: -3px 5px 0 0;
		    vertical-align: middle;
		    cursor: pointer;
	    	background-image: url(../img/icons/checkbox-inactive.png);
	    	background-repeat: no-repeat;
	    	background-position: left center;		    
    	}
    }
    &:checked {
    	+ label {
    		span {
	    		background-image: url(../img/icons/checkbox-active.png);
    		}
    	}
    }
}

/*Dropdown Menu Styles*/
.dropdown-menu {
	padding: 15px 0;
	border-radius: 0 0 5px 5px;
	border: 1px solid $border-default;
	margin: 0;
	.dropdown-section {
		padding: 0 20px;		
	}
	label,
	a {
		color: $default-font-color;
		font-size: $font-size-small;
		line-height: 28px;
		@extend .family-ar;		
	}	
	a {
		&:hover,
		&:focus,
		&:active {
			color: $default-font-color;
			text-decoration: none;
		}
		&:before {
			color: $theme-dropdown-icon;
		} 
	}
}
th {
	&,&.dropdown {
		> a{
			transition: none;
			@extend .family-arbd;
			color: $default-font-color;
			padding: 8px;
			padding-bottom: 10px;
			display: block;
			border-left: 1px solid $white;
			border-right: 1px solid $white;
			margin-bottom: -2px;					
			.fa {
				float: right;
				margin-top: 3px;
			}
			&:hover,
			&:focus,
			&:active {
				color: $default-font-color;
				text-decoration: none;
				outline: none;
			}
		}
		.form-group {
			margin-bottom: 0;
		}
		.dropdown-menu {
			right: 0;
			/*min-width: auto;*/
		}			
	}
}
.dropdown {
	> a {
		border: 1px solid $white;
		border-bottom-color: transparent;
	}
	&.open {
		> a {
			border: 1px solid $border-default;
			border-radius: 5px 5px 0 0;
		}
	}
}
.dropdown-cover {
	top: 0;
}


/*Remove Selected filter style*/
.filter-tag-list {
	margin-left: 0;
	li {
		padding: 0;
		margin-right: 15px;
		margin-bottom: 5px;
	}
}
.filter-tag-list a,
a.filter-tag {
	position: relative;
	padding-left: 30px;
	&:before {
		content: $icon-close;
		font-family: $family-icon;
		font-size: $font-size-icon;
		position: absolute;
		left: 0;
		top: -8px;
	}
}

/*Sort Order List*/
.sort-order-list {
	.fa {
		margin-right: 10px;
	}
}


/*Default Table Styles*/
.default-table {
	border-bottom: 2px solid $border-default;
	> thead {
		> tr {
			> th {
				padding: 0;
				border-bottom: 2px solid $border-default;
				.dropdown-menu {
					padding: 0;
					> li {
						&:first-child{
							padding-top: 20px;
						}
						&:last-child {
							padding-bottom: 20px;
						}
					}
				}
				.divider {
					margin: 0;
					background-color: transparent;
					padding: 10px 0;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						top: 5px;
						background-color: $border-default;
						height: 1px;
					}
				}
			}
		}
	}
	> tbody {
		> tr {
			> td {
				&.exclaimation-sign {
					padding: 8px 0;					
				}
				.fa {
					color: $theme-dropdown-icon;
				}
				.fa-exclamation-circle {
					color: $theme-red;
				}								
			}
		} 
	}
}
.wide-last-col {
	> thead,
	> tbody {
		> tr {
			> th, 
			> td {
				&:last-child {
					width: 300px;
				}
			}
		}
	}
}



/*Table Inner Menu*/
.context-menu {
	z-index: 8;
	right: -5px;
	top: -5px;
	border-radius: 5px;
	> li {
		> a {
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
			}
		}		
	}
	> .dropdown-toggle-inner {
		position: absolute;
		right: -16px;
		top: 2px;
	}
}
.context-dropdown {
	float: right;
	> a {
		position: relative;
		border: 0 none;
		@include transition(none);
		color: $theme-dropdown-icon;
		&:hover,&:focus, &:active {
			border: 0 none;
			@include transition(none);
		}
	}
	&.open {
		> a {
			border: 0 none;
			color: $theme-dropdown-icon;
		}
	}
}


/*Default Tabel pagination*/
.default-pager {
	text-align: right;
	a {
		color: $theme-dropdown-icon;
		&:hover,&:focus, &:active {
			color: $theme-dropdown-icon;
		}
		&.inactive {
			opacity: 0.5;
			cursor: text;
		}
	}
	> div {
		text-align: left;
		display: inline-block;
		+ div {
			margin-left: 10px;
		}
	}
}
.count-setter {
	.btn-group {
			border: 1px solid $border-default;
		.btn {
			background-color: $white;
			border: 0 none;
			&:last-of-type{
				border-left: 1px solid $border-default;
			    line-height: 12px;
			    margin-top: 5px;
			    padding: 3px 8px;				
			}
			&:hover,&:focus,&:active {
				box-shadow: none;
				z-index: auto;
			}			
		}
		&.open {
			.btn {
				box-shadow: none;
			}
		}
	}
	.dropdown-menu {
		padding: 0;
		min-width: auto;
		left: 0;
		a {
			padding: 3px 12px;
		}
	}
}



/*Page Title*/
.theme-page-header {
	margin-bottom: 50px;
}
.user-dropdown {
	min-width: 160px;
	margin-bottom: 5px;
	z-index: 9999;
	> a {
		@extend .family-arbd;
		color: $default-font-color;
		@include transition(none);
		padding: 7px 12px;
		display: block;
		.fa {
			margin-left: 35px;
		}
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $default-font-color;
		}
	}
	.dropdown-menu {
		min-width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		> li {
			&:last-child{
				a {
					border-radius: 0 0 5px 5px;
				}
			}			
			> a {
				padding: 15px 20px;
				&:hover,
				&:focus,
				&:active {
					/*background-color: $theme-hover-bg;*/
				}
			}
			+ li {
				border-top: 1px solid $border-default;
			}		
		}		
	}
	&.open {
		> .dropdown-menu {
			border-top: 0 none;
		}
	}
}



/*Alert Dropdown*/
.alert-dropdown {
	text-align: right;
	> a {
		padding: 6px 12px;
		@include transition(none);
	}
	> .alert-open {
		display: block;
	}
	.dropdown-menu {
		top: -5px;
		min-width: 400px;
		padding: 15px 20px;
		border-radius: 5px;
		text-align: left;		
	}
	.alert-content {
		padding-top: 30px;
	}
	.alert-popup {
		position: relative;
	}
	.alert-close-control {
		position: absolute;
		right: -10px;
		top: -15px;
		.fa {
			color: $theme-dropdown-icon;
		}
	}
	.alert-header {
		margin-bottom: 20px;
	}
	.alert-title {
		font-size: $default-font-size;
		@extend .family-arbd;
	}
	.alert-message {
		margin-bottom: 15px;
	}
	.alert-footer {
		p {
			margin-bottom: 0;
		}
	}	
}
