.padding-top-0 {
	padding-top: 0 !important;
}
.content-footer {
	.link {
		color: $default-font-color;
		&:hover,
		&:focus,
		&:active {
			color: $default-font-color;
			text-decoration: none;
			outline: none;
		}
	}
}	

.info-section-title {
	font-size: $default-font-size;
	font-weight: bold;
	margin-bottom: 20px;
}

.active-query {
	margin-top: -30px;
	margin-bottom: 25px;
}